<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat form</title>
</head>
<body>
    <form method="POST" action="/chats">
        <input type="text" placeholder="who are you?" name="from">
        <br> <br>
        <textarea name="msg" id="" cols="30" rows="10" placeholder="write your msg here"></textarea>
        <br> <br>
        <input type="text" placeholder="whom are you texting?" name="to">
        <br> <br>
<button>create chat</button>
    </form>
</body>
</html>